<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
</div>

<!-- Main Page-->
<div class="content">
  <div>
    <!-- Form to input vimeo url-->
    <form [formGroup]="videoForm" class="form">
      <div class="form-group">
        <label for="source" class="label">Video URL:</label>
        <input id="source" type="text" formControlName="source" class="input" placeholder="Please enter Vimeo URL">

        <div *ngIf="videoForm.controls.source.touched && videoForm.controls.source.invalid" class="error">
          <div *ngIf="videoForm.controls.source.errors?.required">Please provide url</div>
          <div *ngIf="videoForm.controls.source.errors?.pattern">Please provide valid Vimeo Video url</div>
        </div>
      </div>

      <div class="form-group actions">
        <button type="submit" [disabled]="!videoForm.valid" (click)="onSubmit()" class="submit-btn">Load Video</button>
      </div>
    </form>
  </div>

  <!-- Placeholder to view vimeo video-->
  <div class="preview">
    <iframe [src]="videoInfo.url" width="640" height="338"  frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen *ngIf="videoInfo"></iframe>
      <div *ngIf="serverError" class="error-message">{{serverError}}</div>
  </div>
</div>